@import "tailwindcss";

html, body {
  overscroll-behavior-y: none;
  
  touch-action: manipulation;
  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  -webkit-tap-highlight-color: transparent;
}

body {
  user-select: none;
}

input, textarea {
  user-select: text;
}